.pCart{
    font-size: 20px;
    font-weight: bold;
    color:WHITE;
    margin-bottom: 50px;
    
}
.btnCart{
    background-color:rgb(249, 214, 150);
    color:rgb(56, 56, 56);
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    /* width: 100px; */
    height: 40px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 50px;
    
}



.divCart{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
    
}
.totalCart{
    display: flex;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color:rgb(56, 56, 56);
    margin-bottom: 50px;
    /* margin-left: auto;
    margin-right: auto; */
    flex-direction: column;
}
.h1Cart{
    text-align: center;
    margin-bottom: 50px;
    font-size: 2em;
}